/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-78303f13518c7f448702.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-7607dded489cd1131427.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-f2dfc07d14b5811e9d52.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2025-01-15T16-23-08-0384.json
/cmake-build-debug/.cmake/api/v1/reply/target-chess-bot-Debug-9bbf82ab753e2c345d67.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-2768657d84d684107805.json
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/a.exe
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/a.exe
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.30.5/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/chess-bot.dir/main.cpp.obj
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/chess-bot.exe
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt

/.idea/.gitignore
/.idea/chess-bot.iml
/.idea/editor.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
